<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<div id="controls" style="background-color:#FFFF00;">
		</div>

		<script src="/js/libs/nexusUI.js"></script>
		<script src="/js/libs/three.min.js"></script>	
		<script src="/js/libs/jquery-1.11.3.min.js"></script>	
		<script src="/js/libs/stats.min.js"></script>	
		<script src="/js/libs/tween.min.js"></script>	

		<script>
		window.ws_addr = "<%= ws_addr %>";
		window.phone = "<%= phone %>";
		</script>


		<script src="/js/Interfaces/MultiSlider.js"></script>	
		<script src="/js/Interfaces/nxWrappers/MultiSliderWrapper.js"></script>	
		<script src="/js/Interfaces/nxWrappers/ButtonWrapper.js"></script>	

		<script src="/js/Interfaces/BlendParticleMaterial.js"></script>	

		<script src="/js/Interfaces/BlendParticles.js"></script>	
		
		<script src="/js/gran.js"></script> <!-- Entry Point -->

	</body>
</html>
